# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

language: r
r:
  - oldrel
  - release
  - devel
sudo: false
addons:
  apt:
    packages:
      - librdf0-dev
      - libnetcdf-dev
      - r-cran-ncdf4
